	
           .my-paragraph{
              color: blue;
               font-size: 40px;
               background: green;	
           }
           #myparagraph{
           	 color: yellow;
           	 background:red; 
           }
           .head1{
           	 background: orange;
           	 width: 30%
           }
	