<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
    <title>Angularjs</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <style type="text/css">
      .delete{
        color:red;
        font-size: 20px;
        cursor: pointer;
      }
    </style>
</head>
<body class="container" ng-controller="mainCtrl">
 <div>
  <h3 class="text-center">Item Details:</h3>
  <div class="col-xs-offset-3 col-xs-6">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Item Id</label>
          <input type="text" class="form-control"  placeholder="ID" data-ng-model="itemid">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Item Name</label>
          <input type="text" class="form-control"  placeholder="NAME" data-ng-model="itemname">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Item Desc</label>
          <input type="text" class="form-control"  placeholder="DESC" data-ng-model="itemdesc">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Date</label>
          <input type="date" class="form-control"  placeholder="Date" data-ng-model="itemdate">
        </div>
        <button type="submit" class="btn btn-default" data-ng-click="fnItemSubmit()">Submit</button>
      </form>
      <div>
        <h3>Display Details</h3>
        <table data-ng-show="itemsArray.length>0" class="table table-bordered table-hover table-stripped" data-ng-init="predect='name';reverse=false;">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Desc</th>
              <th>Date</th>
              <th>Delete</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="myObj in itemsArray">
              <td><span data-ng-bind="myObj.id"></span></td>
              <td><span data-ng-bind="myObj.name"></span></td>
              <td><span data-ng-bind="myObj.desc"></span></td>
              <td><span data-ng-bind="myObj.date"></span></td>
              <td><i class="delete glyphicon glyphicon-trash" data-ng-click="fnDelete($index)"></i></td>
              <td><i class="glyphicon glyphicon-eye-open" data-ng-click="fnView(myObj)"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
 </div>

 <!-- modal box -->
 <div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">View Item</h4>
      </div>
      <div class="modal-body">
        id: <span>{{viewObject1.id}}</span> <br/>
        Name: <span>{{viewObject1.name}}</span> <br/>
        Desc: <span>{{viewObject1.desc}}</span> <br/>
        Date: <span>{{viewObject1.date}} </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
 <script type="text/javascript" src="js/angular.js"></script>
 <script type="text/javascript">
        angular.module('myApp',[]).controller('mainCtrl',function($scope){
        $scope.itemsArray =[];
        $scope.fnItemSubmit = function(){
          var mydate = new Date($scope.itemdate);
          var monthformat = mydate.getMonth()+1;
          if(monthformat<=9){
            monthformat = "0" + monthformat;
          }          
          var dateformat = monthformat +'/'+ mydate.getDate() +'/'+ mydate.getFullYear();
          var obj = {id:$scope.itemid,name:$scope.itemname,desc:$scope.itemdesc,date:dateformat};
          console.log(obj);
          $scope.itemsArray.push(obj);
          console.log($scope.itemsArray);
          $scope.itemid="";
          $scope.itemname ="";
          $scope.itemdesc ="";
          $scope.itemdate ="";
        }
        //delete logic
        $scope.fnDelete = function(index){
          $scope.itemsArray.splice(index,1);
        };

//view object
        $scope.fnView = function(currentObj){
          $('#myModal').modal('show');
          $scope.viewObject1 = currentObj;
        }

      })
 </script>
</body>
</html>
