<!DOCTYPE html>
<html data-ng-app="">
<head>
    <title>Bootstrap</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body class="container mydiv1" >
 <div class="form-group" >
  <label>Username:</label>
  <input type="text" plceholder="Username" class="form-control my-usename" data-ng-model="username">
   <div>
  Display:
  <p>{{username}}</p>
  <p ng-bind="username"></p>
  </div>
 </div>

<h2>Add</h2>
<input type="number" data-ng-model="a" placeholder="enternumber">
<input type="number" data-ng-model="b" placeholder="enternumber">
<p>
  Sum (A+B): {{a+b}}
  Sum (A+B): <span ng-bind="a+b"></span>
</p>
<p>
  Mul (A*B): {{a*b}}
</p>
<p>
  Sub (A-B): {{a-b}}
</p>
 <script type="text/javascript" src="js/angular.js"></script>
<!--  <script type="text/javascript" src="js/jquery-2.1.4.js"></script> -->
<!--  <script type="text/javascript">
  $(function(){
    $('.my-usename').keyup(function(){
      var uname = $('.my-usename').val();
      $('#displayname').html(uname);
    })
  })
 </script> -->
</body>
</html>
